<footer>
  <div class="footer-content">
    <div>
      <a
        ><img src="../../../assets/rsz_coxcode.jpg" width="180px" height="auto"
      /></a>
      <p>
        Coxcode is an ecosystem of practical resources for developers who want
        to build high-quality web & mobile applications design.
      </p>
    </div>
    <div>
      <div>
        <h5>Coxcode</h5>
        <ul>
          <li>Blog</li>
          <li>Youtube</li>
          <li>Github</li>
        </ul>
      </div>
      <div>
        <h5>Quick Links</h5>
        <ul>
          <li>Terms & conditions</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <div>
        <h5>Social media</h5>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Github</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © coxcode 2020 | All Rights Reserved</p>
  </div>
</footer>
