<app-nav></app-nav>
<section class="main-container">
  <div></div>
  <div>
    <h1>
      Designing, Coding, learning and Real-time Projects
    </h1>

    <div class="banner-feature">
      <div>
        <span class="material-icons material-icons-round">
          category
        </span>
        <br />
        <h5>Responsive website and <br />application design</h5>
      </div>
      <div>
        <span class="material-icons material-icons-round">
          chevron_left
        </span>
        <span class="material-icons material-icons-round">
          beenhere
        </span>
        <span class="material-icons material-icons-round">
          chevron_right
        </span>
        <br />
        <h5>
          Modern application design <br />
          with code
        </h5>
      </div>
      <div>
        <span class="material-icons material-icons-round">
          design_services
        </span>
        <br />
        <h5>
          Learn-in demanded modern <br />
          technologies
        </h5>
      </div>
      <div>
        <span class="material-icons material-icons-round">
          developer_board
        </span>
        <br />
        <h5>
          Real-time Projects <br />
          for developer
        </h5>
      </div>
    </div>
    <button class="button custom-button">Get Started</button>
  </div>
</section>
